body {
    font-family: 'Helvetica Neue', Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f7f7f7;
    color: #333;
}

.header {
    background-color: #4CAF50;
    color: white;
    text-align: center;
    padding: 50px 20px;
}

.header h1 {
    margin: 0;
    font-size: 2.5em;
}

.header .subtitle {
    margin: 10px 0 0;
    font-size: 1.2em;
    color: #d4edda;
}

.navigation {
    background-color: #333;
}

.navigation ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

.navigation ul li {
    margin: 0;
}

.navigation ul li a {
    display: block;
    padding: 15px 20px;
    color: #fff;
    text-decoration: none;
    transition: background-color 0.3s;
}

.navigation ul li a:hover {
    background-color: #575757;
}

.content {
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.content-section {
    margin-bottom: 30px;
}

.content-section h2 {
    color: #4CAF50;
    border-bottom: 2px solid #ddd;
    padding-bottom: 10px;
}

.content-section h3 {
    color: #333;
    margin-bottom: 15px;
}

.content-section p, .content-section ul {
    margin-bottom: 20px;
    line-height: 1.6;
}

.content-section ul {
    padding-left: 20px;
}

.content-section ul li {
    list-style-type: disc;
    margin-bottom: 10px;
}

.content-section ol {
    padding-left: 20px;
}

.content-section ol li {
    margin-bottom: 10px;
}

.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 20px 0;
}

.footer p {
    margin: 0;
    font-size: 0.9em;
}
